<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clientes_crud</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">823572#Nr</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Classe mapeada -->
        <mapping class="com.hibernate.tcd.model.Cliente"/>
    </session-factory>
</hibernate-configuration>
